https://na.artifactory.swg-devops.com/artifactory/api/npm/auth
_auth = ZHVyZ2FwcmFzYWQua29wcHVsYUBpYm0uY29tOkFLQ3A4azdrRHlLeUxmdFZRZ2lYbno3Y3NDQlg0RXFiV3dwUkhkMzlDdG1pdmpIZ1p5ckxFSEY0akI3R2RTV3hSQ1h3eDFYNHI=
always-auth = true
email = Durgaprasad.Koppula@ibm.com
https://na.artifactory.swg-devops.com/artifactory/api/npm/mss-npm/auth/mss
@mss:registry=https://na.artifactory.swg-devops.com/artifactory/api/npm/mss-npm/
//na.artifactory.swg-devops.com/artifactory/api/npm/mss-npm/:_password=QUtDcDhrN2tEeUt5TGZ0VlFnaVhuejdjc0NCWDRFcWJXd3BSSGQzOUN0bWl2akhnWnlyTEVIRjRqQjdHZFNXeFJDWHd4MVg0cg==
//na.artifactory.swg-devops.com/artifactory/api/npm/mss-npm/:username=durgaprasad.koppula@ibm.com
//na.artifactory.swg-devops.com/artifactory/api/npm/mss-npm/:email=Durgaprasad.Koppula@ibm.com
//na.artifactory.swg-devops.com/artifactory/api/npm/mss-npm/:always-auth=true
